* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
/* All Colors Here... */
:root {
  --bg: #000000;
  --subBg3: gray;
  --subBg1: #ff004f;
  --subBg2: #ababab;
  --txt: #ffffff;
  --txt1: #ffa500;
  --txt2: #b1ddf1;
  --span: #fccb06;
  --form: rgba(0, 0, 128, 0.623);
  --subBg: rgba(119, 0, 255, 0.411);
}

body {
  background: var(--bg);
  color: var(--txt);
}

.container {
  padding: 10px 10%;
}
/* Header Section Start */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.logo {
  width: 150px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a {
  color: var(--txt2);
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--txt1);
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

nav .fas {
  display: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--form);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: var(--txt2);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--bg);
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Header Section End */
/* Home Page Start */

#home {
  width: 100%;
  height: 100vh;
  background-image: url(../assets/images/bg_large.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-text {
  margin-top: 20%;
  font-size: 30px;
}
.home-text h1 {
  font-size: 60px;
  /* margin-top: 20px; */
}
.home-text h1 span {
  color: var(--txt1);
}
/* Home Page End */
/* About Page Start */

#about {
  padding: 80px 0;
  color: var(-);
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
  background: var(--form);
}
.about-col-2 {
  flex-basis: 60%;
}
.sub-title {
  font-size: 60px;
  font-weight: 600;
  color: var(--txt1);
}
.tab-titles {
  display: flex;
  margin: 20px 0 40px;
}
.tab-links {
  margin-right: 50px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  color: var(--txt2);
}
.tab-links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--txt1);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}
.tab-links.active-link::after {
  width: 50%;
}
.tab-contents ul li {
  list-style: none;
  margin: 10px 0;
}
.tab-contents ul li span {
  color: var(--txt1);
  font-size: 14px;
}
.tab-contents {
  display: none;
}
.tab-contents.active-tab {
  display: block;
}
/* About Page End */
/* Services Page Start */
#services {
  padding: 30px 0;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background: var(--form);
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s transform 0.5s;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: var(--txt1);
}
.services-list div a {
  text-decoration: none;
  color: var(--txt2);
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.services-list div a:hover {
  color: var(--txt1);
  font-weight: 700;
}
.services-list div:hover {
  background: var(--subBg);
  transform: translateY(-10px);
}

/* Services Page End */
/* Footer Section Start */
.footer {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: #262626;
  font-weight: 300;
  margin-top: 20px;
}
.footer i {
  color: var(--subBg1);
}
.footer span {
  color: var(--txt1);
}
/* Footer Section End */

/* Media Query Page Start */
@media only screen and (max-width: 600px) {
  /* Header Section Start */
  nav .fas {
    display: block;
    font-size: 25px;
    cursor: pointer;
  }
  nav ul {
    background: var(--form);
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fas {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .logo {
    width: 100px;
  }
  /* Header Section End */
  /* Home Page Start */
  #home {
    background-image: url(../assets/images/bg_mobile.png);
  }

  .home-text {
    margin-top: 70%;
    font-size: 16px;
  }
  .home-text h1 {
    font-size: 30px;
  }
  /* Home Page End */
  /* About Page Start */

  .sub-title {
    font-size: 40px;
  }
  .about-col-1,
  .about-col-2 {
    flex-basis: 100%;
  }
  .about-col-1 {
    margin-bottom: 30px;
  }
  .about-col-2 {
    font-size: 14px;
  }
  .tab-links {
    font-size: 16px;
    margin-right: 20px;
  }
  /* About Page End */
  /* Footer Section Start */
  .footer {
    font-size: 14px;
  }
  /* Footer Section End */
}

/* Media Query Page End */
